<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>startservlet</display-name>
	<servlet>
  <servlet-name>display</servlet-name>
  <servlet-class>com.rohith.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>display</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>private</servlet-name>
  <servlet-class>com.rohith.PrivacyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>private</servlet-name>
  <url-pattern>/secret</url-pattern>
  <!-- the name secret is set to privacy servlet to call the privacy servlet -->
  </servlet-mapping>
  <servlet>
  <servlet-name>redirect</servlet-name>
  <servlet-class>com.rohith.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>redirect</servlet-name>
  <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
</web-app>
